* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --secundary: #2E4878;
    --tertiary: #CD006E;
    --quaternary: #4B4A4A;
    --fithyn: #D87500;
    --body: #efefef;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px; 
    text-align: center;
}

/*==============================Contactar====================*/

.contactar {
    align-items: center;
    background-color: var(--body);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    width: 100%;
}

.contactar-cont {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 18px;
    width: 100%;
    height: auto;
    background-color: white;
}

.form-item {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.contactar-cont .contactar-cont__email {
    padding: 12px;
    height: auto;
    margin: 14px 0px 14px 0px;
    width: 100%;
}


.contactar-cont .contactar-cont__image {
    background-image: url('../assets/images/email.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18px;
    width: 100%;
    height: 400px;
}

.contactar-cont__email .btn {
    background-color: var(--secundary);
}

@media (min-width: 900px) {
    .contactar-cont {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

@media (min-width: 1000px) {
    .contactar-cont {
        height: 700px;
    }
}