* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --secundary: #2E4878;
    --tertiary: #CD006E;
    --quaternary: #4B4A4A;
    --fithyn: #D87500;
    --body: #efefef;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px; 
    text-align: center;
}

/*============================Lo que hacemos============================*/
.contahacemos {
    height: 1067px;
    margin-top: 24px;
    padding: 16px;
    width: 100%;

}

.contahacemos .contahacemos-items{
    display: flex;
    flex-direction: column;
}

.contahacemos-items__image {
    width: 100%;
    height: 200px;
    background-image: url('../assets/images/atencion-cliente.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(50%);
    padding: 12px;
    margin-bottom: 24px;
}

.contahacemos-items__info{
    padding: 12px;
}

.contahacemos-items__info h1 {
    color: var(--secundary);
    font-size: 40px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center;
}

.contahacemos-items__info hr {
    border: solid 3px var(--secundary);
}

.contahacemos-items__info p {
    color: slategray;
    font-size: 16px;
    text-align: justify;
    margin-top: 24px;
}

@media (min-width: 700px) {
    .contahacemos-items__image {
        
        height: 360px;
    }
    
}

@media (min-width: 1000px) {

    .contahacemos {
        height: 600px;
        margin: auto;
        padding: 16px;
        width: 90%;
    
    }

    .contahacemos .contahacemos-items {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    .contahacemos-items__image {
        width: 50%;
        height: 80%;
        margin: auto;
    }
    
    .contahacemos-items__info {
        width: 50%;
        height: auto;
        margin: auto 40px ;
    }
}