* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

:root {
    --primary: #ffffff;
    --secundary: #2E4878;
    --tertiary: #CD006E;
    --quaternary: #4B4A4A;
    --fithyn: #D87500;
    --body: #efefef;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px; 
    text-align: center;
}


/*============================header============================*/

.carousel-item {
    height: auto;
}
.carousel-caption .p-3{
    font-size: 8px
}

.btncontact {
    height: 12px;
    font-size: 10px;
}