* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
}

:root {
    --primary: #ffffff;
    --secundary: #2E4878;
    --tertiary: #CD006E;
    --quaternary: #4B4A4A;
    --fithyn: #D87500;
    --body: #efefef;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px; 
    text-align: center;
}


/*============================header============================*/


.carousel-item {
    height: 200px;
}

.carousel-caption h5 p.p1 {
   font-size: 16px;
}

.carousel-caption h5 p.p2 {
   font-size: 20px;
   color: var(--tertiary);
   font-weight: bold;
}

.carousel-caption  p.p3 {
    font-size: 9px;
}


.btncontact {

    font-weight: 600;
    font-size: 8px;
    height: 24px;

}
