* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ffffff;
    --secundary: #2E4878;
    --tertiary: #CD006E;
    --quaternary: #4B4A4A;
    --fithyn: #D87500;
    --body: #efefef;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
    margin-top: 24px;
    padding: 12px; 
    text-align: center;
}

h3 {
    font-size: 20px;
}


.info {
    align-items: center;
    background-color: var(--quaternary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding: 16px;
    width: 100%;
}

.info .info-cont {
    align-items: center;
    color: var(--primary);
    display: flex;
    padding: 16px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.info .info-cont .icons{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .info-cont .icons svg{
    text-align: center;
    width: 10%;
}

.text_pagos{
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.text-atencion{
    font-size: 12px;
}


